<md-card  class="door-card">
  <md-list>

    <md-list-item *ngIf="doorLoading">
      <md-progress-spinner md-list-icon mode="indeterminate" class="door-spinner"></md-progress-spinner>
      <p md-line>
        <i>Loading ...</i>
      </p>
    </md-list-item>
    
    <md-list-item *ngIf="!doorLoading">
      
      <button md-icon-button md-list-icon class="door-icon mat-primary"  (click)="ToggleDoor(door)"
        [ngClass]="{
          'flaticon-closed-filled-rectangular-door': !(door | async)?.isOpen,
          'flaticon-open-exit-door': (door | async)?.isOpen}">
      </button>

      <h2 md-line>
        {{(door | async)?.name}}
        <span class="mat-icon mat-primary">
          <b>{{(door | async)?.isOpen ? 'opened' : 'closed'}}</b>
        </span>
      </h2>  

      <p md-line>        
        <i  style="width: auto;" class="mat-icon mat-accent">{{(door | async)?.lastChangedOn | momentDate}}</i> by {{(door | async)?.lastChangedBy}}
      </p>    

    </md-list-item>

  </md-list>
</md-card>