<md-card  class="door-card">
  <md-progress-spinner mode="indeterminate"></md-progress-spinner>
  <i class="flaticon-closed-filled-rectangular-door"></i>
  <i class="flaticon-opened-door-aperture"></i>
  <i class="flaticon-open-exit-door"></i>
</md-card>

<md-card>  
  <md-input-container *ngIf="userService.userName">
      <input mdInput type="email" id="inviteemail"  placeholder="Invite user" (keyup.enter)="Send($event.target.value)" [(ngModel)]="invitedUser">
  </md-input-container>

  <md-list class="user-list">        
    <md-list-item *ngFor="let item of userList | async">
      <md-checkbox [checked]="true">{{item.email}}</md-checkbox>
      <button md-icon-button (click)="Remove(item)">
          <md-icon color="accent">delete</md-icon>
      </button>
    </md-list-item>  
  </md-list>    
</md-card>
