<md-sidenav-container *ngIf="userService.userName; else welcomeScreen">

  <md-sidenav #sidenav mode="side" class="app-sidenav">
    <md-list>
      <md-list-item><md-button routerLinkActive="mat-button-toggle-checked" routerLink="/doorList"> Home </md-button></md-list-item>
      <md-list-item><md-button routerLinkActive="mat-button-toggle-checked" routerLink="/door"> My door </md-button></md-list-item>
      <md-list-item><md-button routerLinkActive="mat-button-toggle-checked" routerLink="/admin"> Admin page </md-button></md-list-item>
    </md-list>
  </md-sidenav>

  <md-toolbar color="primary">

    <button class="app-icon-button" (click)="sidenav.toggle()">
      <i class="material-icons app-toolbar-menu">menu</i>
    </button>

    PortAl

    <span class="app-toolbar-filler"></span>    
    <span>Logged in as: {{userService.userName}}</span>

  </md-toolbar>
  
  <div class="app-content">
    <router-outlet></router-outlet>
  </div>
  
</md-sidenav-container>

<ng-template #welcomeScreen>  
  <md-sidenav-container>
    <h2>Welcome</h2>
    <button  (click)="login()" *ngIf="!userService.userName" md-raised-button color="accent">Anonymous Login</button>
  </md-sidenav-container>
</ng-template>