
<md-sidenav-container>

  <md-sidenav #sidenav mode="side" class="app-sidenav">
    <md-list>
      <md-list-item md-button routerLink="/"> Home </md-list-item>
      <md-list-item md-button routerLink="/door"> My door </md-list-item>
      <md-list-item md-button routerLink="/admin"> Admin page </md-list-item>
    </md-list>
  </md-sidenav>

  <md-toolbar color="primary">

    <button class="app-icon-button" (click)="sidenav.toggle()">
      <i class="material-icons app-toolbar-menu">menu</i>
    </button>

    PortAl

    <span class="app-toolbar-filler"></span>
    <button  (click)="login()" *ngIf="!userService.userName" md-raised-button color="accent">Anonymous Login</button>
    <span *ngIf="userService.userName">Logged in as: {{userService.userName}}</span>
    
  </md-toolbar>
  
  <div class="app-content">
    <router-outlet></router-outlet>
  </div>
  
</md-sidenav-container>